* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  color: white;
}
body {
  background-color: rebeccapurple;
}
.calculator {
  width: 125px;
  position: absolute;
  left: calc(50vw - 75px);
  top: 20vh;
  display: grid;
  justify-content: center;
}
input {
  text-align: end;
}
.amount {
  background-color: #035400;
  border-color: #023100;
  color: white;
}
#amount-input {
  background-color: #2b6929d4;
  border-color: #023100;
  color: white;
}
#percent-label {
  background-color: #234369ba;
  border-color: #0075ff;
  color: white;
}
.percent {
  background-color: #003573;
  border-color: #0075ff;
  color: white;
}
.percent-group {
  margin: 0 !important;
}
.period {
  background-color: rgb(4, 131, 0);
  border-color: rgb(4, 131, 0);
  color: white;
}

.custom-range {
}

#period-input {
  background-color: rgb(4, 131, 0);
  border-color: rgb(4, 131, 0);
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-control-range {
  margin-top: -9px;
  margin-bottom: 16px;
  z-index: 100;
}
